header{
  background: #183C63;
  color: #FFFFFF;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  font-family: "Jersey 10", sans-serif;
}
main{
  display:flex;
  background: #FFFFFF;
  color: #183C63;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 16px;
  font-family: "Jersey 10", sans-serif;
  justify-content: center;
}
img{
  width: 80px;
  height: 80px;

}
.artigo-autor{
  color:#CF1010;
}
article {
    display: flex;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
}
